.grey {
  &:hover { color: white !important; }
  &:hover > div > a > div { color: white !important; }

  &.active,
  &.active  > div > a { color: white !important; cursor: default !important; }

  &--g1 { background-color: #959ca2 !important }
  &--g2 { background-color: #b6bec7 !important; }
  &--g3 { background-color: #e6e1d9 !important; }
  &--g4 { background-color: #D8D8D8 !important; }
  &--g5 { background-color: #919999 !important; }
  &--g6 { background-color: #C0C0C0 !important; }
  &--g7 { background-color: #d4dbe0 !important; }
  &--g8 { background-color: #d9d3e0 !important; }
  &--g9 { background-color: #ECECEC !important; }
  &--g10 { background-color: #757A7C !important; }
  &--g11 { background-color: #AAAAAA !important; }
  &--g12 { background-color: #808080 !important; }
  &--g13 { background-color: #CFCFCF !important; }
  &--g14 { background-color: #3E4147 !important; }
}

.content-near-fill { height: 81vh; }
.content-fill { height: 100% !important; }
