@keyframes flash {
  0% {
    background-color: rgba(255, 240, 192, .7);
  }

  99% {
    background-color: rgba(255, 240, 192, .1);
  }

  100% {
    background-color: inherit;
  }
}

.flash {
  animation: flash;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
}

table.uk-table tbody tr.selected {
  // background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  background-image: repeating-linear-gradient(45deg, transparent, transparent 1px, #e4f0ff 3px, #e4f0ff 5px);
}
